<div>
<div class="recipeList" ng-controller="RecipeController">
    <h4 class="page-header">Recipes list</h4>
    <div>
        <input type="text" ng-model="vm.searchString" placeholder="Search Name">
        <button ng-click="vm.get()">Search</button>
        <button ng-click="vm.showAdd()" title="Add" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i> Add </button>
    </div>
    <br />
    <!-- Topic table -->
    <table class="big-top-buffer table table-bordered" ng-if="vm.showTable">
        <thead>
            <tr>
                <td></td>
                <td><strong>Recipe</strong></td>
                <td><strong>Description</strong></td>
                <td>Details</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recipe in vm.recipes">
                <td>{{$index + 1}}.</td>
                <td>{{recipe.RecipeTitle}}</td>
                <td>{{recipe.RecipeDescription}}</td>
                <td><a ng-click="vm.goToRecipe(recipe)">show details</a></td>
            </tr>

        </tbody>
    </table>

    

</div>
</div>
