<div class="panel panel-warning text-center">
  
        <div class="container">
            <section class="register">
                <h4><b>Registeration</b> </h4>
                <br/>
                <form method="post" action="Register.html">
                    <div class="reg_section personal_info">
                        <p><input type="text" name="username" value="" placeholder="Your Desired Username"></p>
                        <p><input type="text" name="email" value="" placeholder="example@gmail.com"></p>
                        <p><input type="password" name="password" value="" placeholder="Your Password"></p>
                        <p><input type="password" name="confirm" value="" placeholder="Confirm Password"></p>
                        <h5><b>Select country:</b></h5>
                        <select>
                            <option value="">Croatia</option>
                            <option value="">America</option>
                            <option value="">UK</option>
                            <option value="">Italy</option>
                        </select>
                    </div>
                    
                    <div class="reg_section password">
                        <h5><b>Your address</b></h5>
                        
                        <textarea name="textarea" id="">Your Full Address</textarea>
                    </div>
                    <p class="terms">
                        <label>
                            <input type="checkbox" name="remember_me" id="remember_me">
                            I accept Terms & Condition
                        </label>
                    </p>
                    <p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
                </form>
            </section>
        
</div>
   
</div>
